@if (!IsLoading)
{
	<div class="avd-loader-wrapper">
		<CascadingValue Value="@(this)" IsFixed="true">
			@ChildContent
		</CascadingValue>

		@if (IsVisible)
		{
			<div class="avd-loader-container">
				<div class="avd-loader-whirlpool"></div>
			</div>
		}
	</div>
}
else
{
	<p>Loading...</p>
}
